@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:not(i) {
    font-family: 'Gabarito', sans-serif;
  }
}

body {
  background: $bg;
}

/* Event Delegation Fix */
button > * {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  a {
    color: inherit;
  }

  a, button {
    transition: $transition-duration;
    cursor: pointer;
  }
}

::selection {
  background-color: $primary;
  color: $white;
}