// flex alignments
@mixin flex-row($gap: 0px) {
  display: flex;
  align-items: center;
  gap: $gap;
}

@mixin flex-row-center($gap: 0px) {
  @include flex-row($gap);
  justify-content: center;
}

@mixin flex-col($gap: 0px) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin flex-col-center($gap: 0px) {
  @include flex-col($gap);
  justify-content: center;
}

@mixin fix-center() {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// modal

@mixin modal-container($bg: none) {
  @include flex-row-center();
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $bg;
  transition: $transition;
  cursor: not-allowed;
}

@mixin modal($bg: #fff, $color: inherit, $width: auto, $gap: 25px) {
  @include flex-col($gap);
  width: $width;
  padding: 40px;
  position: relative;
  border-radius: $border-radius;
  background: transparentize($bg, .5);
  backdrop-filter: blur(8px);
  transition: $transition;
  color: inherit;
  cursor: auto;
}

@mixin modal-center($bg: #fff, $color: inherit, $width: auto, $gap: 25px) {
  @include modal($bg, $color, $width, $gap);
  align-items: center;
  text-align: center;
  max-width: 90%;
}

@mixin modal-remove-btn($side: right) {
  position: absolute;
  top: 20px;
  #{$side}: 20px;
  font-size: 1.6rem;
  background: none;
  border: none;
}

// navbar
@mixin navbar($bg: none, $color: inherit) {
  @include flex-row();
  justify-content: space-between;
  padding: 15px 50px;
  background: $bg;
  color: $color;
  margin-bottom: 15px;
}

// nav links
@mixin navlinks($gap, $color: inherit, $hover-color: null) {
  @include flex-row($gap);
  
  a {
    text-decoration: none;
  }

  & > li {
    list-style-type: none;
    margin-inline: none;
  }

  & > * {
    color: $color;

    @if ($hover-color) {
      &:hover {
        color: $hover-color;
      }

      &:active {
        color: darken($hover-color, 20%);
      }
    }
  }
}
