$yellow: rgb(251, 236, 178);
$pink: rgb(248, 189, 235);
$blue: rgb(82, 114, 242);
$navy: rgb(7, 37, 65);
$light-navy: rgb(36, 20, 104);
$teal: rgb(31, 138, 112);
$green: rgb(3, 201, 136);
$grey: rgb(155, 164, 181);
$dark-grey: darken($grey, 20%);
$white: rgb(241, 246, 249);
$dark-navy: rgb(33, 42, 62);
$black: $dark-navy;

$primary: $blue;
$secondary: $navy;
$tertiary: $light-navy;
$muted: $grey;
$success: $green;
$bg: $pink;

$max-width: 1000px;

$border-radius: 8px;
$pill-border: 30px;

$box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;

$transition-duration: .3s;
$animation-duration: .5s;

$button-bg: $secondary;
$button-color: $white;