.blog-details {
  @include flex-col(20px);
  color: $tertiary;
  animation: fadeIn $animation-duration 1;

  .blog-title {
    text-align: center;
  }

  .blog-author {
    color: $dark-grey;
    text-transform: capitalize;
  }

  .blog-body p {
    margin-bottom: 10px;
    line-height: 2;
  }

  .delete {
    align-self: flex-end;
    padding: 12px 15px;
    border-radius: $pill-border;
    background: $error;
    box-shadow: $box-shadow;
    color: $white;
    border: none;

    &:hover {
      background: $white;
      color: $error;
    }

    &:active {
      background: darken($error, 20%);
      color: $white;
    }

    .icon {
      margin-left: 5px;
      font-size: inherit;
    }
  }
}