.blog-list {
  @include flex-col(30px);
  animation: fadeIn $animation-duration 1;

  .blog-preview {
    @include flex-col(10px);
    width: 100%;
    border-radius: $border-radius;
    padding: 10px 13px;
    transition: $transition-duration;
    background: lighten($bg, 10%);
    color: $secondary;
    box-shadow: $box-shadow;

    &:hover {
      background: darken($bg, 10%);
    }

    .title {
      font-size: 1.5rem;
      font-weight: 500;
    }

    .author {
      color: transparentize($navy, .2);
      text-transform: capitalize;

      .icon {
        margin-right: 5px;
        font-size: .9em;
      }
    }
  }

  a {
    text-decoration: none;
  }
}