.blog-list {
  @include flex-col(30px);
  align-items: center;

  .blog-preview {
    @include flex-col(10px);
    width: 100%;
    max-width: $max-width;
    border-radius: $border-radius;
    padding: 10px 13px;
    transition: $transition;
    background: lighten($pink, 10%);
    color: $secondary;

    &:hover {
      background: darken($bg, 10%);
      box-shadow: $box-shadow;
    }

    .title {
      font-size: 1.5rem;
      font-weight: 500;
    }

    .author {
      color: $navy;
    }
  }
}