.success-container {
  @extend .error-container;

  .success {
    @extend .error;

    .remove-success {
      @extend .remove-error;
    }

    .icon {
      @extend .icon;
    }

    .message {
      @extend .message;
    }

    .btn-group {
      @extend .btn-group;

      a {
        color: inherit;
        text-decoration: none;
  
        .back-to-home {
          @extend .report;
          background: $success;

          &:hover {
            color: $success;
          }
        }

        .go-to-blog {
          @extend .report;
        }
      }
    }
  }
}