.success-container {
  @extend .error-container;

  .success {
    @extend .error;

    .remove-success {
      @extend .remove-error;
    }

    .icon {
      @extend .icon;
    }

    .message {
      @extend .message;
      color: $success;
    }

    .btn-group {
      @include flex-row(20px);

      a {
        color: inherit;
        text-decoration: none;
  
        .back-to-home {
          @extend .report;
          background: $success;
        }

        .go-to-blog {
          @extend .back-to-home;
          background: $primary;
        }
      }
    }
  }
}